In [6]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import tqdm

In [14]:
tweets_list2 = list()


# #study ÎùºÎäî Í≤ÄÏÉâÏñ¥Ïóê ÎåÄÌï¥ 2021-01-01 ~ 2021-05-31 ÏÇ¨Ïù¥Ïùò Ìä∏ÏúóÏùÑ ÏàòÏßëÌïúÎã§
for i,tweet in tqdm.tqdm_notebook(enumerate(sntwitter.TwitterSearchScraper('#study lang:en since:2021-01-01 until:2021-05-31').get_items())):
    #   5000Í∞ú ÏàòÏßëÌïòÎ©¥ Ï¢ÖÎ£å
    if i>100:
        break
    #   Ìä∏ÏúóÏùò ÎÇ†Ïßú, id, ÎÇ¥Ïö© 3Í∞ÄÏßÄÎ•º Î¶¨Ïä§Ìä∏Ïóê Ï∂îÍ∞Ä
    tweets_list2.append([tweet.date, tweet.id, tweet.content])
    
# Creating a dataframe from the tweets list above
#   Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•Îêú Î¶¨Ïä§Ìä∏Î•º pandas Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôò
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text'])

C:\Users\ms964\AppData\Local\Temp\ipykernel_22304\2396801305.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i,tweet in tqdm.tqdm_notebook(enumerate(sntwitter.TwitterSearchScraper('#study lang:en since:2021-01-01 until:2021-05-31').get_items())):

0it [00:00, ?it/s]

In [15]:
tweets_df2

,Datetime,Tweet Id,Text
0,2021-05-30 23:22:05+00:00,1399144110313848832,good night üí§ \n\nfull loop:\n https://t.co/Vid...
1,2021-05-30 23:05:33+00:00,1399139950730350594,Sad and quiet night - Lofi Chill 85bpm \n\nFul...
2,2021-05-30 22:53:42+00:00,1399136966046744577,#Australian wages and household income higher ...
3,2021-05-30 22:49:09+00:00,1399135823065452544,Just a couple of quick rough studies posted at...
4,2021-05-30 22:35:43+00:00,1399132442716512259,Sketches from various studies\n.\n.\n.\n.\n#st...
...,...,...,...
96,2021-05-30 06:42:47+00:00,1398892630084182018,Please join JADOO Learing App to help students...
97,2021-05-30 06:31:00+00:00,1398889662136172546,Let's take a look at the interesting #facts ab...
98,2021-05-30 06:30:35+00:00,1398889558381674500,Do you know? ‚Å†\n‚Å†\nThe wind is silent until it...
99,2021-05-30 06:15:31+00:00,1398885766776819719,Today is a comfortable day!\nI have a holiday ...
100,2021-05-30 06:13:41+00:00,1398885303473950720,working on homework. at 11:11pm :D \nJust have...